
body {
		/* Color system */
		--color-00: #FEA4E2;
		--color-01: #E8090A;
		--color-02: #9EFC60;
		--color-03: #024D0E;
		--color-04: #FFDD33;
		--color-05: #FE4E1C;
		--color-06: #451BB0;
		--color-07: #18D7E9;
		
		--color-white: #dedfe4;

		/* Font system */
		--font-family-01: "Boldonse", system-ui;
							font-weight: 400;
							font-style: normal;
		--font-family-02: "Inter Tight", sans-serif;
							font-optical-sizing: auto;
							font-style: normal;

		margin: 0px;
		padding: 0px;
}

/* fonts */
.bottom-title, .top-row, .days-left, h1, .adding-museum {
	font-family: var(--font-family-02);
}

.countdown-number, footer {
	font-family: var(--font-family-01);
}


h1, footer {
	font-size: 8px;
	font-weight: 900;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

section {
	padding: 0px;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

h2 {
	padding: 0px;
}

/* div {
	padding: 0px;
	margin: 0px;
	display: flex;
	flex-direction: column;
} */




#plus {
	display: flex;
	align-items: right;
	justify-content: right;
	padding: 10px;
}

#some-form {
	background-color: #F9DE59;
	padding: 2rem;
	border-radius: 1rem;
	position: relative;
	max-width: 500px;
	margin: 2rem auto;
	display: grid;
	gap: 1rem;
  }


.countdown-box {
    width: 100vw;
    /* height: 220px; */
	border-radius: 1rem;
	background-color: #F4B6F9;
	color: #DF3037;
	text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
	padding-top: 0px;
	/* padding-bottom: 0px; */
	margin: 2rem auto;
	max-width: 500px;
    position: relative;
}

.top-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
	font-weight: bold;
	padding-top: 5px;
	/* margin-bottom: 3rem; */
}

.countdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	font-size: 3rem;
  	font-weight: 800;
  	/* margin-bottom: 3rem; */
}

.countdown-number {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;

}

.days-left {
    font-size: 16px;
    text-align: center;
	font-weight: 500;
 	margin-top: 0rem;
}

.bottom-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /* margin-top: auto; */
    /* padding-top: 10px; */
	padding-bottom: 5px;
}

.adding-museum {
	padding: 5px;
	border: 1px solid black;
	border-radius: 4px;
	max-width: 80%;
	margin-left: 20px;
}

.title-left {
	text-align: left;
}

 .title-right {
	text-align: right;
}

#one {
	background: var(--color-00);
	color: var(--color-01);
}

#two {
	background: var(--color-03);
	color: var(--color-02);
}

#three {
	background: var(--color-04);
	color: var(--color-05);
}

#four {
	background: var(--color-06);
	color: var(--color-07);
}

#name {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 40%;
  }

#date {
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 40%;
  }

#exhibition {
	margin-top: 4rem; 
	width: 100%;
  }





